/* Use border-box model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* App color themes */
:root {
    --dark-main-bg-color:#000;
    --dark-top-bar: #4A4A4A;
    --dark-logo-bg: #000;
    --dark-logo: #cbcbcb;
    --dark-theme-hover: #109FFF;
    --dark-theme-hover-bg: #2e2e2e;
    --dark-search-button: #FFF;
    --dark-side-bar-buttons: #2e2e2e;
    --dark-side-bar-buttons-hover: #4A4A4A;
    --dark-main-text: #cbcbcb;
    --dark-title-text: #109FFF;
    --dark-selection-background: #8CD867;
    --dark-selection-text: #000;
    --dark-post-bg:#2e2e2e;
    --dark-post-buttons-hover: #4A4A4A;
}

/* General page styles */
::selection {
    background-color: lightsalmon;
}
@media screen and (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--dark-selection-background);
        color: var(--dark-selection-text);
    }
}
button {
    color: var(--dark-main-text);
}
button:hover {
    cursor: pointer;
}
html {
    height: 100%;
    color: #000;
}
@media screen and (prefers-color-scheme: dark) {
    html {
        color: var(--dark-main-text)
    }
}
body {
    position: relative;
    top: 58px;
    height: calc(100% - 58px);
    background-color: var(--dark-main-bg-color);
}
@media screen and (max-width: 575px) {
    body {
        top: 104px;
    }
}
#root {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}