/* Theme button */
#toggle-theme {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 3px;
}
.light-theme-icon {
    vertical-align: middle;
    fill: yellow;
    stroke: yellow;
    height: 100%;
    pointer-events: none;
}
.light-theme-icon line {
    stroke: yellow;
}
.dark-theme-icon {
    vertical-align: middle;
    fill: black;
    height: 80%;
    pointer-events: none;
}