#top-nav {
    display: flex;
    padding: 0 50px 0 50px;
    width: 100%;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
}

#top-nav-logo {
    display: flex;
    height: 3rem;
}

#top-nav-logo h1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
}