/* Top nav */
#top-nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 100%;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.top-nav-light {
    background-color: var(--light-content-bg);
}
.top-name-dark {
    background-color: var(--dark-content-bg);
}
@media screen and (max-width: 575px) {
    #top-nav {
        flex-direction: column;
    }
}

/* Theme button and dropdown */
#theme-dropdown {
    position: relative;
}
#toggle-theme {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 10px;
    height: 30px;
    width: 55px;
    border-radius: 3px;
}
.toggle-theme-light {
    border: 1px solid var(--light-theme-border);
}
#toggle-theme-light:hover {
    color: var(--light-title-text);
    background-color: var(--light-hover-bg);
}
.toggle-theme-dark {
    border: 1px solid var(--dark-theme-border);
}
#toggle-theme-dark:hover {
    color: var(--dark-title-text);
    background-color: var(--dark-hover-bg);
}
@media screen and (max-width: 575px) {
    #toggle-theme {
        margin-left: 20px;
    }
}
#dropdown-options {
    position: absolute;
    display: none;
    width: 65px;
    margin-left: 10px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 999;
}
.dropdown-options-button {
    display: block;
    padding: 10px;
    cursor: pointer;
}
.dropdown-options-button-light {
    background-color: var(--light-buttons);
}
.dropdown-options-button-light:hover {
    background-color: var(--light-hover-bg);
}
.dropdown-options-button-dark {
    background-color: var(--dark-buttons);
}
.dropdown-options-button-dark:hover {
    background-color: var(--dark-hover-bg);
}

#theme-dropdown:hover #dropdown-options {
    display: block;
}

/* Icon and title */
#top-nav-logo-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
@media screen and (max-width: 575px) {
    #top-nav-logo-container {
        width: 100%;
        justify-content: space-between;
    }
}
#logo-title-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
#top-nav-logo {
    height: 48px;
    padding: 0 10px 0 0;
    margin: 5px 0;
}
.logo-background-light {
    fill: var(--dark-logo-bg);
}
.logo-background-dark {
    fill: var(--dark-logo-bg);
}
.logo-image-light {
    fill: var(--dark-logo);
}
.logo-image-dark {
    fill: var(--dark-logo);
}
#top-nav-logo-container h1 {
    display: inline-block;
    white-space: nowrap;
}
.top-nav-h1-light {
    color: var(--light-title-text);
}
.top-nav-h1-dark {
    color: var(--dark-title-text);
}