/* Top nav */
#header {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 100%;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: var(--content-bg);
}
@media screen and (max-width: 575px) {
    #header {
        flex-direction: column;
    }
}

/* Theme button and dropdown */
#theme-dropdown {
    position: relative;
}
#toggle-theme {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 30px;
    height: 30px;
    width: 30px;
    border-radius: 3px;
}
#toggle-theme:hover {
    color: var(--title-text);
    background-color: var(--hover-bg);
}
@media screen and (max-width: 575px) {
    #toggle-theme {
        margin-left: 20px;
    }
}
.light-theme-icon {
    fill: yellow;
    stroke: yellow;
    height: 100%;
}
.light-theme-icon line {
    stroke: yellow;
}
.dark-theme-icon {
    vertical-align: middle;
    fill: black;
    height: 80%;
}

/* Icon and title */
#header-logo-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
@media screen and (max-width: 575px) {
    #header-logo-container {
        width: 100%;
        justify-content: space-between;
    }
}
#logo-title-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
#header-logo {
    height: 48px;
    padding: 0 10px 0 0;
    margin: 5px 0;
}
#header-logo circle {
    fill: var(--logo-bg);
}
#header-logo path {
    fill: var(--logo);
}
#header-logo-container h1 {
    display: inline-block;
    white-space: nowrap;
    color: var(--title-text);
}