/* User button */
#user-dropdown {
    transition: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
    width: 48px;
}
@media screen and (max-width: 575px) {
    #user-dropdown {
        width: 50%;
    }
}
#user-button {
    transition: inherit;
    border-style: none;
    padding: 0;
    height: 48px;
    width: 48px;
    background: var(--main-bg-color);
    border-radius: 50%;
}
#user-button img {
    max-width: 100%;
    overflow: hidden;
}