/* User button */
#user-dropdown {
    transition: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
    width: 48px;
}
@media screen and (max-width: 575px) {
    #user-dropdown {
        width: 50%;
    }
}
#user-button {
    transition: inherit;
    border-style: none;
    padding: 0;
    height: 48px;
    width: 48px;
    background: var(--main-bg-color);
    border-radius: 50%;
}
#user-button img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* loading gradient animation */
.loading-gradient {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #4A4A4A 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -800x 0
    }
    100%{
        background-position: 800px 0
    }
}
