/* Searchbar container*/
#search-container {
    position: relative;
    display: flex;
}
@media screen and (max-width: 575px) {
    #search-container {
        margin-bottom: 12px;
    }
}

/* Searchbar */
#searchbar {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    height: 34px;
    transition: all 0.5s ease;
    background-color: var(--search-bg);
    color: var(--main-text);
}
.searchbar-inactive {
    width: 80px;
    border: none;
}
.searchbar-active {
    outline: none;
    width: 300px;
}
#searchbar::-webkit-textfield-decoration-container {
    padding: 0 31px 0 10px;
}
#searchbar::placeholder {
    visibility: hidden;
    opacity: 0;
    padding-left: 10px; 
    transition-duration: inherit;
}
#searchbar:focus::placeholder {
    visibility: visible;
    opacity: 1;
    transition-duration: inherit;
}
#search-button {
    position:absolute;
    background-color: transparent;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    border: none;
    padding: 0;
}
#search-button svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px;
    fill: var(--main-text);
}