#sidebar-container {
    flex-shrink: 0;
    overflow: scroll;
    width: 200px;
    height: 100%;
}
#sidebar-list-container {
    width: 100%;
    padding: 15px;

}
.sidebar-item {
    margin: 10px 0;
    background-color:var(--dark-side-bar-buttons);
    border-radius: 15px;
}
.sidebar-item a {
    padding: 10px 0;
    display: block;
    text-align: center;
    border-radius: inherit
}
.sidebar-item a:hover {
    background-color: darkgray;
}