/* Sidebar container */
.sidebar-container {
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    height: 100%;
    transition-property: width;
    transition-duration: 0.75s;
    width: 200px;
}
@media screen and (max-width: 575px) {
    .sidebar-container {
        width: 0;
    }
}
.sidebar-is-closed {
    width: 0;
}
.sidebar-not-closed {
    width: 200px;
}

/* Sidebar open/close button */
.open-close-sidebar-button {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: transparent;
    transition-duration: inherit;
    padding: 0;
    width: 15px;
    height: 36px;
    top: calc(50% - 29px);
    left: 185px;
    transform: rotate(180deg);
    border: none;
    border-radius: 3px;
}
.open-close-sidebar-button svg {
    content: var(--side-bar-open-close-svg);
    width: 13px;
    height: 36px;
    top: calc(50% - 29px);
    fill: var(--main-text);
    border: 1px solid var(--theme-border);
    border-radius: 3px;
}
@media screen and (max-width: 575px) {
    .open-close-sidebar-button {
        left: 0;
        transform: rotate(0deg);
    }
}
.button-is-rotated {
    transform: rotate(0deg);
    left: 0;
}
.button-not-rotated {
    left: 185px;
    transform: rotate(180deg);
}

/* List container */
#sidebar-list-container {
    width: 100%;
    padding: 15px;
    width: auto;
    overflow: hidden;
}

/* List items */
.sidebar-item {
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px 0;
    display: block;
    text-align: center;
    background-color:var(--buttons);
    border: 1px solid black;
    overflow: hidden;
}
.sidebar-item:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
}