/* Sidebar container */
.sidebar-container {
    flex-shrink: 0;
    overflow: scroll;
    width: 200px;
    height: 100%;
    transition-duration: 0.75s;
}
@media screen and (max-width: 575px) {
    .sidebar-container {
        width: 0;
    }
}
.sidebar-is-closed {
    width: 0;
}
.sidebar-is-open {
    width: 200px;
}

/* Sidebar open/close button */
.open-close-sidebar-button {
    display: flex;
    align-items: center;
    position: absolute;
    border: 1px solid white;
    background-color: transparent;
    transition-duration: inherit;
    padding: 0;
    width: 15px;
    height: 36px;
    top: calc(50% - 29px);
    left: 185px;
    transform: rotate(180deg);
}
@media screen and (max-width: 575px) {
    .open-close-sidebar-button {
        left: 0;
        transform: rotate(0deg);
    }
}
.open-close-sidebar-button img {
    content: url('../../../assets/sidebar/side-bar-arrow-white.png');
    max-width: 15px;
    height: 36px;
    padding: 8px 0;
    top: calc(50% - 29px);
}
.button-is-rotated {
    transform: rotate(0deg);
    left: 0;
}
.button-not-rotated {
    transform: rotate(180deg);
    left: 185px;
}

/* List container */
#sidebar-list-container {
    width: 100%;
    padding: 15px;
    width: auto;
}

/* List items */
.sidebar-item {
    margin: 10px 0;
    background-color:var(--dark-side-bar-buttons);
    border-radius: 15px;
}
.sidebar-item a {
    padding: 10px 0;
    display: block;
    text-align: center;
    border-radius: inherit
}
.sidebar-item a:hover {
    background-color: var(--dark-side-bar-buttons-hover);
    cursor: pointer;
}