.image-gallery-container {
    position: relative;
    width: 100%;
}
.image-gallery-container img {
    display: block;
    width: 100%;
    height: auto;
}
.single-img-link {
    max-width: max-content;
}
.single-img {
    max-width: 100%;
}
#gallery-img-link {
    display: inline-block;
    position: absolute;
    width: 100%;
    left:0;
    top: 50%;
    transform: translateY(-50%);
}
.slides-container {
    position: relative;
    max-width: 700px;
    max-height: 65vh;
    margin: 0 auto;
}
.image-gallery-border {
    border: 1px solid var(--main-text);
}
/* Position next and previous buttons */
#prev, #next {
    color: var(--main-text);
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 8px;
    margin-top: -18px;
    font-size: 16px;
    border-radius: 5px;
    user-select: none;
    background-color: var(--buttons);
    border: 1px solid var(--main-text)
}
/* Position next button */
#prev {
    left: 6px;
}
#next {
    right: 6px;
}
#prev:hover, #next:hover {
    background-color: var(--hover-bg);
}
/* Image number */
.numbertext {
    color: var(--main-text);
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--buttons);
    border-radius: 24px;
    transition: .5s;
    border: 1px solid var(--main-text)
}